GITHUB_TOKEN=
GITHUB_API_URL=https://eos2git.cec.lab.emc.com/api/v3
CONFLUENCE_URL=https://confluence.cec.lab.emc.com
CONFLUENCE_TOKEN=
GTIE_CONFLUENCE_URL=https://confluence.gtie.dell.com
GTIE_CONFLUENCE_TOKEN=
JIRA_URL=https://jira.cec.lab.emc.com
JIRA_TOKEN=
